@import "tailwindcss";

@plugin "tailwind-scrollbar" {
  nocompatible: true;
}

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains);
}

:root {
  --background: #ffffff;
  --foreground: #09090b;
}

.dark {
  --background: #0a0a0a;
  --foreground: #fafafa;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
  letter-spacing: -0.025em;
}

code,
pre,
.font-mono {
  font-family: var(--font-mono);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}